<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="java">
<body>
<form method="post" th:action="@{/admin/addUser}">
<table>
    <tr>
        <label>
            <td>
                <input type="text" th:field="*{user.username}" name="username" th:placeholder="name">
            </td>
        </label>
    </tr>
    <tr>
        <label>
            <td>
                <input type="text" th:field="*{user.password}" name="password" th:placeholder="password">
            </td>
        </label>
    </tr>
    <tr>
        <label>
            <td>
                <input type="text" th:field="*{user.email}" name="email" th:placeholder="email">
            </td>
        </label>
    </tr>
    <tr>
        <td><input type="submit" value="Submit"/></td>
    </tr>
</table>
</form>
</body>
</html>